.headerText{
  display: flex;
  align-items: center;
  width:100%;
}
div.midText{
  text-align:center;
}
.midHeader{
    display: flex;
  align-items: center;
  flex-direction: row;
  width: 25%;
  justify-content: center;
}
img.headerRole {
  width:40px;
  height:40px;
}
div.prev{
  padding-left: 10px;
  width:33.33333%;
  text-align:left;
}
div.next{
  padding-right: 10px;
  margin: 0 0 0 auto;
}
.gameBanner{
  display: flex;
width: 100%;
background: #EBEBEB;
min-height: 50px;
flex-direction: row;
}
