footer{
    position:relative;
    bottom:10px ;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 200px;
    background-color: white;
    border-width: 20px 225px 70px 75px;
    border-style: solid;
    border-color: rgb(239, 239, 238);
}

.footer-dividerl{
    border-left:5px solid rgb(239, 239, 238);;
}
.footer-dividerr{
    position:absolute;
    left:840px;
    top:30px;
    bottom:30px;
    border-left:5px solid rgb(239, 239, 238);;
}
.footer-col{
  background: white;
width: 33%;
display: flex;
flex-direction: column;
}
.greyDiv {
    color: grey;
    width: 100%;

}
div.btn-square{
  display: flex;
      align-self: center;
      flex-wrap: wrap;
      max-width: 340px;
}
button.footer{
  border: 3px solid white;
  color: white;
  width: 170px;
  height: 45px;
  background-color: rgb(44, 44, 44);
}
h3.center{
    text-align: center;
}
p.footer{
    text-align: center;
}
