.dot {
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  margin: 1px;
  border: 2px solid green;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.gameStatus{
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
}
.btn-group{
  width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 75px;
}
.dot-highlighted {
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 50%;
  margin: 1px;
  border: 2px solid green;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.createGameOptions{
  display: flex;
  justify-content: space-between;
}
.createGameInner {
    height: 100px;
    width: 100px;
    background-color: rgb(212, 52, 52);
    color: white;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
    transition: 0.5s;
    border-radius: 5px 5px 5px 5px;
    border-radius: 50%;
    margin: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.trash{
  cursor:pointer;
}
.currentRoleHolder{
  display: flex;
  justify-content: center;
  margin-bottom: 220px;
}
.games{
  display: flex;
  flex-direction: column;
  padding-left:25px;
  padding-top:35px;
  overflow:auto;
}
.game{
  display: flex;
  padding-bottom: 20px;
}
.lobbyRole{
  padding-left:10px;
}
.currentRoles{
  display: flex;
  width:50%;
  margin:0 auto;
}
.currentRole{
  height: 4vw;
  width: 4vw;
  min-width: 100px;
  min-height: 100px;
  padding-right: 5px;
  vertical-align: middle
}
.players{
  padding-left: 25px;
  padding-right: 25px;
}
.joinGame{
  height:4vh;
  width:5vw;
  min-width: fit-content;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d22e2d;
  color: white;
  cursor:pointer;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
  transition: 0.5s;
  border-radius: 5px 5px 5px 5px;
}
.lobbies{
    display:flex;
    justify-content:space-between;
    background-color:grey;
    border-radius:0px 15px 0px 0px;
    border-color: grey;
    overflow: auto;

}
.lobbyHeader .spinner{
    position:relative;
    animation: rotation 3s infinite linear;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:300px;
    overflow: auto;
}
.active{
  background-color: #d43434!important;
}

p.lobbyName{
    padding-right: 80px;
}
.btn-group button {
    background-color: grey;
    border: 1px solid grey;
    border-style: none solid none none;
    border-radius: 0px 15px 0px 0px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    float:left;
    width: 100%;

  }
  .createHolder{
    display:flex;
    flex-direction: column;
    margin-top: auto;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size:50px;
    font-weight:bolder;
    color:
  }
.createTitle{
    display:flex;
    justify-content: center;
}
.createGameRole{
  display:flex;
  justify-content: center;
}
.lobbyHeader{
  display:flex;
  flex-direction: column;
  width:100%;
  min-width: 500px;
}
  .btn-group button:not(:last-child) {
    border-right: none;
  }
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  .btn-group button:hover {
    background-color: #d43434;

  }
  .button.active {
    background-color: #d43434;

  }
