@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
.login_container{
  display: flex;
  flex-direction:column;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 6;
    background-color: rgb(44,48,40);

}
img#logoLightplayer{
    width: 250px;

}
img#player-pfp{
    width: .7in;
    border-radius: 50%;

}
.nav-links{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
}
.nav-links-highlighted{
    font-family: 'Montserrat', sans-serif;
    color: rgb(216,44,44);
    text-decoration: none;
    font-size: 1.5vw;
}
.nav-divider{
    color: white;
    font-size:1.6vw;
}
.splash{
display: flex
}
.splash>img{
    object-fit: cover;
    width: 100%;
}
.play{
  display: flex;
  flex-direction: column;
  align-items: center
}
.play>img{
    width:25%;
    cursor: pointer;
}
.loginSecondRow{
  display: flex;
  flex-direction: row-reverse;
}
.chatMafia{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forumMafia{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.otherModes{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.otherModes>p{
    font-size:larger;
    color: rgb(97, 97, 97);
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight:600;


}
.forumMafia>p{
    font-size:larger;
    color: rgb(97, 97, 97);
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight:600;


}
.chatMafia>p{
    font-size:larger;
    color: rgb(97, 97, 97);
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight:600;


}
.play>p{
    font-size:larger;
    color: rgb(97, 97, 97);
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight:600;


}
button#login{
    margin-top:50px;
    font-family: 'Ariel', sans-serif;
    font-size: larger;
    font-weight: bolder;
    background-color: rgb(216,44,44);
    color: white;
    border:none;
    height: 50px;
    margin-left: -150px;
    width: 100px;
    cursor: pointer;

}
