@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
.container{
  display: flex;
  flex-direction: column;
  background-color: #e0dcdc;
  row-gap:5px;
  font-family: 'Montserrat', sans-serif;
}
.container div{
    padding:10px;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 6;
    background-color: rgb(44,48,40);

}
.youtubeHolder{
  height: 50%;
  width:101%;
  display: flex;
  align-self: center;
  margin-top:-15px;
}
#youtube{
  display: flex;
  width: 100%;
  height: 100%;
}
img#settings{
  display: flex;
  margin: 0 0 0 auto;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
}
img#settings:hover{
  cursor: pointer;
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out 0s;

}

.bio-text{
  display: flex;
  width:100%;
  height: 50%;
  align-items:center;
  justify-content: center;
}
.banner{
    height: 20vh;
    width:85vw;
    background-image: linear-gradient(rgb(216,44,44), rgb(150, 31, 31));
    border: 0;
    align-self: center;
}
.user-banner{
    display: flex;
    flex-direction: column;
    height:15vh;
    align-self: center;
    background: white;
    width: 85vw;
}
.msg-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgb(48,44,44);
    grid-column-start: 2;
    grid-column-end: 5;
    color: white;
    align-items: center;
    width:85vw;
    align-self:center;
    height: 4vh;

}
.secondLayer{
  width:85vw;
  height:58vh;
  align-items: center;
  display:flex;
  flex-direction: row;
  align-self: center;
}
.left-profile{
  width:20vw;
  display:flex;
  flex-direction: column;
  align-self: center;
  height:100%;
}
.right-profile{
  width:20vw;
  display:flex;
  flex-direction: column;
  align-self: center;
  height:100%;
}

.bar-left{
    background-color: rgb(48,44,44);
    color: white;
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
    margin-top:5px;
}
.bar-right{
    background-color: rgb(48,44,44);
    grid-column-start: 4;
    grid-column-end: 5;
    color: white;
    font-weight: bolder;
    font-size: x-large;
    margin-top:5px;
}
.bio-box{
    width:60%;
    height:100%;
    background-color: white;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
}
.shout-chat{
    background-color: white;
    height: 40%;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 1px solid grey;

}
.collect-content{
    background-color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    height:40%;
    border: 1px solid grey;

}
.friends-content{
    background-color: white;
    height: 40%;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 1px solid grey;

}
.favs-content{
    background-color: white;
    height: 40%;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 1px solid grey;

}
.stat-bar{
    display: flex;
    margin-top: 20px;
    background-color: rgb(48,44,44);
    justify-content:center;
    padding-left: 20px;
    color: rgb(216,44,44);
    font-weight: bolder;
    font-size:40px;
    text-align: center;
    flex-direction: row;
    width: 85vw;
    align-self: center;

}
.leftStats{
  display: flex;
  margin-top:-1vh;
  margin-left: 5vw;
}
.stat-content{
  width: 85vw;
  height: 25vw;
  justify-content: center;
  align-self: center;
  display: flex;
  align-items: center;
    background-color: white;
    border: 1px solid grey;
    margin-top: 5px;
    margin-bottom: 100px;
}
img#profile{
  width: 8vw;
  position: absolute;;
  margin-top: 12vh;
  margin-left: 5vw;
  border: 1.5px solid rgb(49, 49, 49);
}
img#logoLightplayer{
    width: 250px;

}
img#player-pfp{
    width: .7in;
    border-radius: 50%;

}
.nav-links{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
}
.nav-links-highlighted{
    font-family: 'Montserrat', sans-serif;
    color: rgb(216,44,44);
    text-decoration: none;
    font-size: 1.5vw;
}
.nav-divider{
    color: white;
    font-size:1.6vw;
}
img#msg{
    display: block;
    padding-left: 50px;
    height:40px;
}
.user-banner-bot{
  display: flex;
  flex-direction: column;
  border-top:1px solid black;
  margin-left: 25vw;
  width: 55vw;
}
p.user-name{
    color: rgb(216,44,44);
    font-size: 2.5em;
    margin: 0%;
    font-weight: bolder;
    display: flex;
    margin-left: 25vw;
}
